/* Main Style.CSS for all */
@import 'mdb-ui-kit/css/mdb.min.css';

:root {
  --light: #e4b54b;
  --darkblue: #2c3145;
  --white: #ffffff;
  --highlight: #da6d44;
  --richblack: #0d1321;
}

* {
  /* font */
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", serif;
}

body {
  padding-bottom: 2.5%;
}

.caraBox {
  width: 64%;
  padding: 1%;
  margin: auto;
  object-fit: fill;
}

.carousel img {
  height: 350px;
  object-fit: cover;
}

/* .modal {
    display: inherit
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--light);
}

footer div{
  background-color: var(--darkblue);
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .75em;
}



.card {
  width: 30%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

#group-card {
  width: auto;
  margin: 2%;
}

.img-fluid {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.btn {
  float: right;
  width: 100%;
  background-color: var(--light);
  color: var(--richblack);
  box-shadow: 0px 4px 4px var(--darkblue) / 0.2;
  margin: 1%;
  border: 0.5px solid var(--darkblue);
  padding: auto;
  font-size: 1rem;
  text-align: center;
  line-height: 1em;
}

.btn:hover {
  background-color: var(--darkblue);
  color: var(--white);
  box-shadow: 0px 4px 4px var(--darkblue) / 0.2;
  border: 0.5px solid var(--darkblue);
}

small {
  font-size: 0.9rem;
  color: grey;
}

#cardContainer {
  width: 68%;
  height: auto;
  padding: 1%;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 1%;
}

.login {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.75%;
  margin: auto;
}

.nav-pills .nav-link.active {
  background-color: var(--light);
  color: var(--richblack);
}

.bg-custom {
  background-color: var(--darkblue);
}

.field-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.form-outline .form-control:focus ~ .form-label {
  color: var(--darkblue);
}

.form-helper {
  text-align: left;
  margin-top: 4px;
}

select {
  background-color: var(--highlight);
  border: 0.1rem;
  border-color: var(--darkblue);
  border-radius: 5px;
  padding: 0.55%;
}

button {
  background-color: var(--highlight);
  color: var(--white);
  box-shadow: 0px 4px 4px var(--darkblue) / 0.2;
  margin: 1%;
  border-radius: 5px;
  border: 0.5px solid var(--darkblue);
  padding: auto;
  text-align: center;
}

.dropdown-content li,
.dropdown-content li > span {
  background-color: var(--highlight);
  color: w;
}

#cloudBox {
  width: 60%;
  height: auto;
  background-color: var(--darkblue);
}

.group-badge {
  background-color: var(--darkblue);
  box-shadow: 0px 4px 4px var(--highlight) / 0.2;
}

.author-badge {
  background-color: var(--highlight);
  box-shadow: 0px 4px 4px var(--darkblue) / 0.2;
  color: var(--richblack);
}

textarea{
  white-space: pre-wrap;
}

.textwrap{
  white-space: pre-wrap;
}

#game-image{
  width: 75%;
  height: auto;
  margin: auto;
}




/* Form Outline Custom Colors ACTIVE*/

.form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top: .1rem solid var(--darkblue);
  border-bottom: .1rem solid var(--darkblue);
  border-left: .1rem solid var(--darkblue);
} 

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-top: .1rem solid var(--darkblue);
  border-right: .1rem solid var(--darkblue);
  border-bottom: .1rem solid var(--darkblue);
} 

.form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-top: 0;
  border-bottom: .1rem solid var(--darkblue);
} 



@media (max-width: 768px) {
  #cardContainer {
    width: 68%;
    height: auto;
    padding: 1%;
    justify-content: space-evenly;
    margin: auto;
  }

  .card-body h5 {
    font-size: auto;
  }

  .card {
    width: 100%; /* Set the card width to 100% for small screens */
    height: auto;
  }

  .caraBox {
    display: none;
  }

  .navbar-toggler {
    margin-left: 0.4%;
  }

  .logo {
    display: none;
  }

  footer {
    display: none;
  }

  #group-card img{
    display: none;
  }

  #famFlex{
    flex-wrap: wrap;
  }
}

@media (max-width: 975px) {
  .navbar-toggler {
    margin-left: 0.1%;
  }
}
